Library\
Temp\
Library\ArtifactDB\
CZ3003/Library/ArtifactDB
CZ3003/Library/ScriptAssemblies/Assembly-CSharp.dll
CZ3003/Library/ScriptAssemblies/Assembly-CSharp.pdb
CZ3003/Library/SourceAssetDB
CZ3003/Library/ArtifactDB
CZ3003/Library/ScriptAssemblies/Assembly-CSharp.dll
CZ3003/Library/ScriptAssemblies/Assembly-CSharp.pdb
CZ3003/Library/SourceAssetDB
